[buildout]
extends = versions.cfg
parts =
      django
      production
      var-directory
      evolution
eggs-directory = var/eggs
parts-directory = var/parts
develop-eggs-directory = var/develop-eggs
versions = versions
show-picked-versions = true

# Inspects versions.cfg looking for out-of-date packages.
# It's very useful for upgrading pinned packages.
[evolution]
recipe = zc.recipe.egg
eggs = buildout-versions-checker
scripts = check-buildout-updates=evolve
arguments = '-s versions.cfg --indent 2'

# Creates several subdirectories with var/ so that the django project
# can store database files and uploaded files
[var-directory]
recipe = z3c.recipe.mkdir
paths = var/db
      var/uploads
      var/logs
      var/repos
      var/test_repos
      var/archives
      var/qr

# Documentation generator
[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx

[django-competition]
recipe = zerokspot.recipe.git
repository = git://github.com/michaelwisely/django-competition.git
branch = develop
newest = True
as_egg = True

[django-greta]
recipe = zerokspot.recipe.git
repository = git://github.com/michaelwisely/django-greta.git
branch = develop
newest = True
as_egg = True

[brabeion]
recipe = zerokspot.recipe.git
repository = git://github.com/michaelwisely/brabeion.git
rev = 7d69a061e3d37adbf805693624a8c8bbd43d4388
as_egg = True

# Creates a django project for the app to live in
[django]
recipe = djangorecipe
project = webserver
settings = settings.development
extra-paths = ${production:extra-paths}

# Inherit all eggs from [production],
# then add a few more below
eggs = ${production:eggs}

# Developer Eggs (Packages to help us develop)
     werkzeug           # Used by django-extensions
     yanc               # Allows for colorized output from nose tests
     coverage           # Coverage determines what code is covered by the unit tests
     django-debug-toolbar   # Toolbar to help web debugging


# Creates a django project for the production app
[production]
recipe = djangorecipe
project = webserver
settings = settings.production
extra-paths = ${django-competition:location}
            ${django-greta:location}
            ${brabeion:location}

eggs =
# Django Dependencies
     psycopg2           # Postgres driver
     pillow             # Portable version of the Python Imaging Library
     PyYAML             # Allows us to use YAML with django
     Markdown           # Allows users to write using Markdown
     django-celery      # Distributed task queue
     celerymon          # Celery monitor
     flower             # More celery monitor
     bleach             # HTML sanitizer
     slumber            # For api interaction
     python-memcached   # Memcache module
     requests           # For sending HTTP requests
     gunicorn           # The production HTTP server

# Django apps
     django-crispy-forms        # Makes for nice forms
     django-allauth             # Provides account/login services
     raven                      # Sentry client
     South                      # Database migrations
     djangorestframework        # API framework
     django-filter              # Filtering support
     brabeion			# Badges
     

# SIG-Game apps
     django-competition  # Competition app
     django-greta        # Git app

# Developer Eggs (Packages to help us develop)
     ipython             # Gives us a fancy ipython interpreter for django shell
     readline            # Needed by ipython
     django-extensions   # Provides some extra django management commands
     django-nose         # Django-nose allows us to run tests with nose
     django-admin-tools  # Admin tools
     feedparser          # Used by django-admin-tools
