<h3 class="text-center">Summary</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Games</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ratio</th>
      <th>Elo Rating</th>
      <th>TrueSkill Rating</th>
    </tr>
  </thead>
  <tbody>
    {% if stats_data %}
      <tr class="info">
        <td>{{ stats_data.total.n_games }}</td>
        <td>{{ stats_data.total.n_win }}</td>
        <td>{{ stats_data.total.n_loss }}</td>
        <td>{{ stats_data.total.ratio|floatformat:3 }}</td>
        <td>{{ stats_data.ratings.elo|floatformat:3 }}</td>
        <td>{{ stats_data.ratings.trueskill|floatformat:3 }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">
          <center>
            No statistics are available at this time. Please be patient.
          </center>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
