{% extends "competition/competition_base.html" %}
{% load cache %}

{% block script %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.10.8/jquery.tablesorter.min.js"></script>
  <script>
    $(function() {
      $("#stat_time").tooltip();
      $("#stats").tablesorter();
      $("#stats").bind("sortEnd",function() {
        var icons = $("#stats > thead th i");
        icons.removeClass().toggleClass("icon-sort");

        var asc_icons = $("#stats .tablesorter-headerAsc i");
        asc_icons.removeClass().toggleClass("icon-sort-up");

        var desc_icons = $("#stats .tablesorter-headerDesc i");
        desc_icons.removeClass().toggleClass("icon-sort-down");
      });
    });

  </script>
{% endblock %}

{% block content %}

  <h2>Game Statistics for {{ user_team.name }}</h2>
  <h4 class="muted">
    Last updated
    <a id="stat_time" href="#" data-toggle="tooltip" data-placement="bottom"
       title="{{ stats.updated }}">
      {{ stats.updated|timesince }}
    </a>
  </h4>

  <hr>

  {% with stats_data=stats.data %}
    {% if stats_data %}
      <h3 class="text-center">Summary</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr class="info">
            <td>{{ stats_data.total.n_games }}</td>
            <td>{{ stats_data.total.n_win }}</td>
            <td>{{ stats_data.total.n_loss }}</td>
            <td>{{ stats_data.total.ratio|floatformat:3 }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}

    <hr>

    <h3 class="text-center">Results Per Opponenet</h3>
    <table id="stats" class="table table-hover">
      <thead>
        <tr>
          <th>Name <i class="icon-sort"></i></th>
          <th>Games <i class="icon-sort"></i></th>
          <th>Wins <i class="icon-sort"></i></th>
          <th>Losses <i class="icon-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        {% for team in stats_data.teams %}
          <tr class="{% if team.n_win >= team.n_loss %}success{% else %}error{% endif %}">
            <td>{{ team.name }}</td>
            <td>{{ team.n_games }}</td>
            <td>{{ team.n_win }}</td>
            <td>{{ team.n_loss }}</td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="4">
                <center>
                  No statistics are available at this time. Please be patient.
                </center>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  {% endwith %}
{% endblock %}
