<div class="panel-group visible-xs-block" id="accordion">
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#siggameCollapse">
      <h4 class="panel-title">
        SIG-Game <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="siggameCollapse" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          {% include "navbar/_blog.html" %}
          {% include "navbar/_competition.html" %}
          {% if user.is_authenticated %}
            {% include "navbar/_documentation.html" %}
            {% include "navbar/_invitation.html" %}
            {% include "navbar/_profile.html" %}
          {% endif %}
        </ul>
        <ul class="nav nav-pills nav-stacked">
          {% if user.is_authenticated %}
            {% include "navbar/_authenticated_users.html" %}
          {% else %}
            {% include "navbar/_unauthenticated_users.html" %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
