{% load url from future %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>{% block title %}MegaMinerAI{% endblock %}</title>

    <!-- Include links and metas -->
    {% include "_head.html" %}

    <!-- Extra meta tags -->
    {% block meta %}{% endblock %}

    <!-- Extra link tags -->
    {% block link %}{% endblock %}

    <!-- CSS to be included in-template -->
    {% block style %}{% endblock %}
  </head>
  <body>
    {% include "navbar/navbar.html" %}
    {% include "_messages.html" %}
    {% block content %}{% endblock %}

    {% include "_footer.html" %}

    {% block modal %}{% endblock %}

    <!-- Scripts -->
    {% include "_scripts.html" %}

    <!-- Extra scripts -->
    {% block script %}{% endblock %}

  </body>
</html>
