{% extends "base.html" %}

{% block content %}
  <div id="sidebar-wrapper">
    <div id="inner-sidebar-wrapper">
      <div class="sidebar-nav">
        {% include "_siggame-sidebar.html" %}
        {% block sidebar %}{% endblock %}
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            {% block page-header %}{% endblock %}
            {% block main_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
