{% load url from future %}
{% load competition_tags %}

<h2 class="text-right">Profiles</h2>

<ul class="nav nav-tabs nav-stacked">
  <li {% if active == 'all' %}class="active"{% endif %}>
    <a href="{% url 'list_profile' %}"><i class="icon-th-list"></i> All Competitors</a>
  </li>
  <li {% if active == 'me' and userprofile.user == user %}class="active"{% endif %}>
    <a href="{{ user.get_profile.get_absolute_url }}"><i class="icon-user"></i> View My Profile</a>
  </li>
  <li {% if active == 'update' %}class="active"{% endif %}>
    <a href="{% url 'update_profile' %}"><i class="icon-pencil"></i> Update My Profile</a>
  </li>
</ul>

{% if userprofile and userprofile.user != user %}
  {% invitable_teams as invitable %}
  {% for team in invitable %}
    {% if forloop.first %}
      <h2 class="text-right">Invitations</h2>
      <ul class="nav nav-tabs nav-stacked">
    {% endif %}
    <li>
      <a href="{% url 'invitation_create' %}?invitee={{ userprofile.user.pk }}&team={{ team.id }}">
        <i class="icon-plus"></i> Invite to {{ team.name }}
      </a>
    </li>

    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}

{% endif %}
