{% load url from future %}
{% load competition_tags %}
{% load active_tags %}


<h4>Profiles</h4>

<ul class="nav nav-pills nav-stacked">
  <li class="{% active 'list_profile' %}">
    <a href="{% url 'list_profile' %}"><i class="fa fa-users"></i>  All Competitors</a>
  </li>
  <li class="{% active_re '^/profile/{{request.user.username}}' %}">
    <a href="{{ user.profile.get_absolute_url }}"><i class="fa fa-user"></i>  View My Profile</a>
  </li>
  <li class="{% active 'update_profile' %}">
    <a href="{% url 'update_profile' %}"><i class="fa fa-pencil"></i>  Update My Profile</a>
  </li>
</ul>
<h4>My Account</h4>
<ul class="nav nav-pills nav-stacked">
  <li class="{% active 'account_email' %}">
    <a href="{% url 'account_email' %}"><i class="fa fa-check"></i>  My Email Settings</a>
  </li>
  <li class="{% active 'socialaccount_connections' %}">
    <a href="{% url 'socialaccount_connections' %}"><i class="fa fa-globe"></i>  My Social Connections</a>
  </li>
  <li class="{% active 'account_change_password' %}">
    <a href="{% url 'account_change_password' %}"><i class="fa fa-edit"></i>  Change My Password</a>
  </li>
</ul>

{% if userprofile and userprofile.user != user %}
  {% invitable_teams as invitable %}
  {% for team in invitable %}
    {% if forloop.first %}
      <h4>Invitations</h4>
      <ul class="nav nav-pills nav-stacked">
    {% endif %}
    <li>
      <a href="{% url 'invitation_create' %}?invitee={{ userprofile.user.pk }}&team={{ team.id }}">
        <i class="fa fa-plus"></i>
        Invite to {{ team.name }}
        <span class="pull-right badge badge-info invitation-tooltip" data-toggle="tooltip"
              title="This team has {{team.num_invites_left}} invites left to send">
              {{ team.num_invites_left }}
        </span>
      </a>
    </li>

    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
