{% extends "sidebar.html" %}

{% block title %}
  User Profiles
{% endblock %}

{% block page-header %}
  <div class="page-header">
    <h1>Competitors <small>Friends and Foes</small></h1>
  </div>
{% endblock %}

{% block main_content %}
  <div ng-app="profile_list">

    <div class="pull-right">
      <form novalidate class="form-inline pull-right" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Search for Profiles"
                 ng-model="search" style="width:100%" autocomplete="off">
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group" ng-controller="ProfileListController as profile_list">
          {% verbatim %}
          <li ng-repeat="profile in profile_list.profiles | filter:search | orderBy: 'user.username'"
              class="list-group-item">
            <a href="{{ profile.url }}">
              {{ profile.user.username }} <span ng-show="profile.user.fullname">{{ profile.user.fullname | limitTo : 50 }}</span>
            </a>
          <li ng-show="profile_list.empty()">No profiles</li>
          {% endverbatim %}
        </ul>
      </div>
    </div>
  </div>

{% include "_numbered_paginator.html" with page=page_obj %}
{% endblock %}

{% block sidebar %}
  {% include "profiles/_profiles_sidebar.html" %}
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/profile_list.js" type="text/javascript"></script>
{% endblock script%}
