{% extends "sidebar.html" %}

{% load url from future %}
{% load crispy_forms_tags %}

{% block title %}
  Update Profile
{% endblock %}

{% block script %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.0/js/epiceditor.min.js"></script>
{% endblock %}

{% block page-header %}
  <div class="page-header">
    <h1>Update your Profile</h1>
  </div>
{% endblock %}

{% block main_content %}

  {% crispy form %}

{% endblock %}

{% block sidebar %}
  {% include "profiles/_profiles_sidebar.html" %}
{% endblock %}
