{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="span6">
      <div class="well">
        <h2>{% firstof userprofile.user.get_full_name userprofile.user.username %}</h2>
        <h4 class="muted"><i>{{ userprofile.user.username }}</i></h4>
        <p>
          {{ userprofile.rendered_about_me|safe }}
        </p>
      </div>
    </div>
    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://static.neatorama.com/imagesb/2012-11/6/Grumpy-Cat.jpg" alt="Ermahgerd" />
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block sidebar %}
  {% include "profiles/_profiles_sidebar.html" with active="me" %}
{% endblock %}
