{% extends "base.html" %}
{% load profile_tags %}

{% block content %}

  <div class="row-fluid">
    <div class="span9">
      <div class="well">
        <h2>{% firstof userprofile.user.get_full_name userprofile.user.username %}</h2>
        {% if userprofile.has_badges%}<div class="row-fluid">
            <div class="span12">
                <!-- Badges go here -->
            </div>
        {% endif %}
        <h4 class="muted"><i>{{ userprofile.user.username }}</i></h4>
        <p>
          {{ userprofile.rendered_about_me|safe }}
        </p>
      </div>
    </div>
    <div class="span3">
      <a href="#" class="thumbnail">
        <img src="{% gravatar_url userprofile.user.email %}" />
      </a>
    </div>
  </div>

{% endblock %}

{% block sidebar %}
  {% include "profiles/_profiles_sidebar.html" with active="me" %}
{% endblock %}

{% block script %}
  <script>
    $(function(){
      $(".invitation-tooltip").tooltip();
    });
  </script>
{% endblock %}
