{% extends "plain.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
OpenID Sign In
{% endblock %}

{% block main_content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <h1>{% trans 'OpenID Sign In' %}</h1>


      <form id="openid_login_form" class="form-horizontal" method="POST" action="{% url 'openid_login' %}">
        <br>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary btn form-control" value="Sign In">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
