{% extends "sidebar.html" %}

{% block sidebar %}
  {% include "competition/_sidebar.html" %}
{% endblock sidebar %}

{% block page-header %}
  <div class="page-header" style="margin-top:20px;">
    <h1>{{ competition.name }}</h1>
  </div>
{% endblock %}

{% block main_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        {% block competition_content %}
        {% endblock competition_content %}
      </div>
    </div>
  </div>
{% endblock main_content %}

{% block script %}
  {% if competition %}
    <script>
      window.competition_slug = "{{ competition.slug }}";
    </script>
  {% endif %}
{% endblock %}

{% block modal %}
  {% include "competition/_modals.html" %}
{% endblock modal %}
