{% load url from future %}

{% if competition.is_running or user_team.teamclient %}
  <h2 class="text-right">Code</h2>
  <ul class="nav nav-tabs nav-stacked" style="margin-top:20px;">
    {% if not user_team.teamclient %}
      {% if competition.is_running %}
        <li>
          <a href="{% url 'create_repo' comp_slug=competition.slug %}">
            Create Repository
          </a>
        </li>
      {% endif %}
    {% else %}
      <li>
        <a href="{{ user_team.teamclient.get_absolute_url }}">
          My Team's Repository
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
