{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}
  Logout
{% endblock %}

{% block content %}
<h1>{% trans "Logout" %}</h1>

<p>{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <input type="submit" class="btn btn-primary" value="Logout"/>
</form>


{% endblock %}
