{# Don't forget to include home_feeds with this! #}

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Countdown to {{ next_competition.name }}
      </div>
      <div class="panel-body text-center">
        {# Flip Clock counting down to next MegaMinerAI #}
        <h1>{{ next_competition.start_time|timeuntil }}</h1>
      </div>
    </div>
  </div>
</div>

<div ng-app="home_feeds" class="row">
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <a href="http://blog.megaminerai.com">
          Blog
        </a>
      </div>
      <div class="panel-body">
        <ul class="list-group" ng-controller="BlogFeedController as blog_feed">
          {% verbatim %}
            <li ng-repeat="blog_post in blog_feed.posts | orderBy: 'blog_post.date'" class="list-group-item">
              <a href="{{ blog_post.links[0] }}">
                {{ blog_post.title }}
              </a>
              <i ng-show="blog_feed.isNew(blog_post)" class="pull-right">New!</i>
            </li>
            <li ng-show="blog_feed.empty()">Could not fetch blog posts...</li>
          {% endverbatim %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <a href="http://status.megaminerai.com">
          Status
        </a>
      </div>
      <div class="panel-body" ng-controller="StatusFeedController as status_feed">
        <div ng-repeat="(category, posts) in status_feed.posts">
          <div class="panel panel-default">
            {% verbatim %}
            <div class="panel-heading">
              {{ category | titlecase }}
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li ng-repeat="status_post in posts | orderBy: 'status_post.date' | limitTo: 1" class="list-group-item">
                  <a href="{{ status_post.links[0] }}">
                    {{ status_post.title }}
                  </a>
                  <i class="pull-right fa {{ status_feed.classFor(status_post) }}"></i>
                </li>
                <li ng-show="status_feed.empty()">Could not fetch status posts...</li>
                {% endverbatim %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
