{% block content %}
  <!-- Welcome Banner -->
  <div class="well text-center">
    <h1>Hello, welcome to MegaMinerAI.com!</h1>
  </div>

  <!-- Open Competitions -->
  {% if open_competitions %}
    <div class="well">
      <h1>Open MegaMinerAI Competitions:</h1>
      <hr>
      {% for competition in open_competitions %}
        <a href="{{ competition.get_absolute_url }}" class="btn btn-primary">
          {{ competition.name }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <!-- Running Competitions -->
  {% if running_competitions %}
    <div class="well">
      <h1>Running MegaMinerAI Competitions:</h1>
      <hr>
      {% for competition in running_competitions %}
        <a href="{{ competition.get_absolute_url }}" class="btn btn-primary">
          {{ competition.name }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
