{% extends "base.html" %}

{% block content %}
  <div style="padding-top:20px;">
    <img src="{{ STATIC_URL }}img/wrench.png" alt="Missouri S&amp;T SIG-Game"/>
  </div>

  <hr>

  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Mauris dui tortor, interdum et gravida eu, consequat sed
        metus. Pellentesque porttitor lectus feugiat turpis venenatis
        nec lacinia est varius. Aenean porta odio id urna posuere eu
        tempor elit elementum.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>
        Pellentesque in mauris nec diam suscipit dignissim. Ut dapibus
        varius nibh, quis vestibulum urna mollis sit amet. Vestibulum
        a placerat orci. Morbi vel tellus urna, a fermentum
        ante. Etiam fringilla est et enim posuere porta. Sed in ipsum
        sem, dignissim ultrices velit. Vestibulum scelerisque nunc
        eget enim scelerisque facilisis volutpat sapien
        venenatis.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>
        Fusce aliquet augue ac nibh pharetra a
        sagittis urna ultricies. Nullam rutrum interdum hendrerit. Morbi
        tempus ligula vitae velit porttitor blandit. Phasellus eu massa
        libero, at venenatis mauris. Sed nec quam ut lacus tincidunt
        porta. Sed pharetra diam malesuada leo suscipit eu semper est
        rhoncus.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>

{% endblock %}
