<!-- Welcome Banner -->
<div class="well" style="text-align:center">
  <h1>Hello, welcome to MegaMinerAI.com!</h1>
</div>

<!-- carousel -->
<div id="carousel" class="carousel slide">
  <!-- carousel Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://i.imgur.com/3ONvBIt.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/tlQj2kY.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/eeJ1I3h.jpg">
    </div>
  </div>
  <!-- carousel Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>  
</div>
