{% load url from future %}

<li class="dropdown">

  <a href="#" class="toggle-dropdown" data-toggle="dropdown">
    Blog
  </a>

  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="{% url 'zinnia_entry_archive_index' %}" title="Blog">
        Blog
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <a href="{% url 'zinnia_category_list' %}" title="Category list">
        Categories
      </a>
    </li>

    <li>
      <a href="{% url 'zinnia_author_list' %}" title="Author list">
        Authors
      </a>
    </li>

    <li>
      <a href="{% url 'zinnia_tag_list' %}" title="Tag list">
        Tags
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <a href="{% url 'zinnia_sitemap' }}" title="Sitemap">
        Sitemap
      </a>
    </li>

    <li>
      <a href="{% url 'zinnia_entry_latest_feed' %}" title="RSS Feed of latest entries">
        RSS Feed
      </a>
    </li>

  </ul>
</li>
