{% extends "competition/competition_base.html" %}
{% load url from future %}
{% load competition_tags %}
{% load hermes_tags %}

{% block link %}
  <style type="text/css">
    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      margin-bottom: 0;
      width: 150px;
    }
    .rating > span {
      display: inline-block;
      position: relative;
    }
    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
       content: "\f005";
    }
  </style>
{% endblock %}

{% block content %}
  {% check_embargoed user_team as embargoed %}

  {% if embargoed == "embargoed" %}
    <button class="btn btn-danger btn-large pull-right">
      <i class="icon-minus-sign"></i> <b>Embargoed</b>
    </button>
  {% endif %}

  {% if embargoed == "error" %}
    <button class="btn btn-warning btn-large pull-right">
      <i class="icon-warning-sign"></i> <b>Something Broke</b>
    </button>
  {% endif %}

  {% if embargoed == "not ready" %}
    <button class="btn btn-info btn-large pull-right">
      <i class="icon-cogs"></i> <b>Not Ready</b>
    </button>
  {% endif %}

  {% if embargoed == "unembargoed" %}
    <button class="btn btn-success btn-large pull-right">
      <i class="icon-ok-circle"></i> <b>Thunderbirds are Go!</b>
    </button>
  {% endif %}

  <h2>Played Games</h2>

  {% for game in games %}
    {% if forloop.first %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Game #</th>
            <th>Status</th>
            <th>Scores</th>
            <th>Result</th>
            {% for field in data_fields %}
              <th>{{ field }}</th>
            {% endfor %}
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}

    <tr class="game-info" game_url="{{ game.get_absolute_url }}" style="cursor:pointer;">
      {# firstof will ALWAYS mark content as "safe", but since game.id and game.game_id #}
      {# are both integers, it's not an issue here. #}
      <td>{% firstof game.game_id game.id %}</td>

      <td>{{ game.data.status }}</td>

      {% with scores=game.scores.select_related.all|dictsortreversed:"score" %}
        <td>{% include "competition/game/_opponent_list.html" %}</td>
        {% include "competition/game/_result_display.html" %}
      {% endwith %}

      {% for field in data_fields %}
        <td>{{ game.data.display|get_item:field|default:"--" }}</td>
      {% endfor %}

      <td>
        <div class="rating">
          <span class="star icon-star-empty icon-large" game="{{ game.game_id }}" rating="5"></span>
          <span class="star icon-star-empty icon-large" game="{{ game.game_id }}" rating="4"></span>
          <span class="star icon-star-empty icon-large" game="{{ game.game_id }}" rating="3"></span>
          <span class="star icon-star-empty icon-large" game="{{ game.game_id }}" rating="2"></span>
          <span class="star icon-star-empty icon-large" game="{{ game.game_id }}" rating="1"></span>
        </div>
      </td>
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}

    {% empty %}
      <h3 class="text-center">No games, yet</h3>
    {% endfor %}
  </ul>

{% include "competition/_paginator.html" with page=page_obj %}
{% endblock %}

{% block script %}
  <script>
    function success(data) {
      console.log(data);
      alert("Success!");
    }

    function failure() {
      alert("Failure!");
    }

    $(function(){
      $(".win").parent().toggleClass("success");
      $(".loss").parent().toggleClass("error");
      $(".tie").parent().toggleClass("warning");
      $(".game-info > td").click(function() {
        document.location.href = $(this).parent().attr("game_url");
      });

      $(".rating").parent().unbind("click");
      $(".star").each(function(i, e){
        $(this).click(function(){
          var url = "{% url 'arena_rating' %}";
          var rating = $(this).attr("rating");
          var game_id = $(this).attr("game");

          console.log(url);

          var jqxhr = $.get(url, {rating: rating, game_id: game_id}, success);
          jqxhr.fail(failure);
        });
      });
    });
  </script>
{% endblock %}
