{% extends "competition/competition_base_sidebar.html" %}
{% load competition_tags %}
{% load hermes_tags %}

{% block title %}
  Games
{% endblock %}

{% block competition_content %}
  <h2><strong>Game {% firstof game.game_id game.id %}</strong></h2>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Game #</th>
        {# firstof will ALWAYS mark content as "safe", but since game.id and game.game_id #}
        {# are both integers, it's not an issue here. #}
        <td>{% firstof game.game_id game.id %}</td>
      </tr>

      <tr>
        <th>Completed</th>
        <td>
          {% with time=game.data.completed|iso_to_datetime %}
            {{ time|default:"--" }}
            {% if time %}
              ({{ time|timesince }} ago)
            {% endif %}
          {% endwith %}
        </td>
      </tr>

      {% with scores=game.scores.select_related.all|dictsortreversed:"score" %}
      <tr>
        <th>Opponents</th>
          <td>{% include "competition/game/_opponent_list.html" %}</td>
      </tr>
      <tr>
        <th>Result</th>
        {% include "competition/game/_result_display.html" %}
      </tr>
      {% endwith %}
      <tr>
        <th>Submission Name</th>
        <td>
          <ul class="list-unstyled" style="margin-bottom:0;">
            {% for score in team_scores %}
              <li>
                <span class="label label-info">{{ score.data.version }}</span>
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Game Log</th>
        <td>
          <form method="get" action="{{ game.data.gamelog_url }}"
                style="margin-bottom: 0;">
            <button class="btn btn-primary">
              <i class="fa fa-download"></i> Download
            </button>
          </form>
        </td>
      </tr>
      <tr>
        <th>Build Output</th>
        <td>
          {% for score in team_scores %}
            <form method="get" action="{{ score.data.output_url }}"
                  style="margin-bottom: 0;">
              <button class="btn btn-primary">
                <i class="fa fa-download"></i> Download
              </button>
            </form>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block script %}
  <script>
    $(function(){
    $('#eligible').tooltip({placement: "left"});
    $('#ineligible').tooltip({placement: "left"});
    $('#paid-up').tooltip({placement: "left"});
    $('#out-of-invites').tooltip({placement: "left"});
    $('#full-team').tooltip({placement: "left"});
    });
  </script>
{% endblock %}
