/*
  This following CSS is meant to be an extension of the Yeti Bootswatch
  theme to make it easier for SIG-Game devs to change the colors of
  megaminerai.com while sticking with the Yeti theme.

  Theme: Plants!
  Primary color: #4BA54B
  Secondary color: #FFB44B
*/

/* navbar color */
.navbar-inverse {
  background-color: #4BA54B;
}

/* navbar alternate color for nav items */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #FFB44B;
  color: #FFFFFF;
}

/* button colors */
.btn-primary {
  background-color: #4BA54B;
  border-color: #4BA54B;
}

.btn-primary:hover {
  background-color: #FFB44B;
  border-color: #FFB44B;
}

.btn-info {
  background-color: #FFB44B;
  border-color: #FFB44B;
}

.btn-info:hover {
  background-color: #4BA54B;
  border-color: #4BA54B;
}

/* applies a border color to focused input boxes */
input:focus {
  border-color: #4BA54B;
}

/* removes the blue glow from text boxes on osx */
textarea, input {
  outline: none;
}

/* nav-pills color */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: #4BA54B;
}

.nav-pills > li > a:hover {
  color: #4BA54B;
}

/* glyphicon color */
li:inactive .glyphicon {
  color: #4BA54B;
}

li:hover:inactive .glyphicon {
  color: #FFB44B;
}

/* link color */
a {
  color: #4BA54B;
}

/* panel color */
.panel-info .panel-heading {
  background-color: #FFB44B;
  border-color: #FFB44B;
}

.panel {
  border-color: #FFB44B;
}

.panel-heading {
  color: #fff !important;
}

/* sidebar collapsibles color */
.sidebar-collapse {
  background-color: rgb(75, 165, 75) !important;
  opacity: .75;
}
