{% load url from future %}
{% load greta_tags %}
{% load code_tags %}

<ol id="path-breadcrumb" class="breadcrumb">
  <li>
    <a href="{% url 'tree_detail' pk=repo.pk ref=ref path="" %}">{{ repo.name }}</a>
  </li>
  {% for dir in path|subpaths %}
    {% if dir %}
      <li>
        {% if not forloop.last %}
          <a href="{% url 'tree_detail' pk=repo.pk ref=ref path=dir %}">
            {{ dir|basename }}
          </a>
        {% else %}
          <a href="#">
            {{ dir|basename }}
          </a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ol>
