<div id="passwordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="passwordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="passwordLabel">Team-wide Git Password</h3>
      </div>
      <div class="modal-body">
        <p>Use this password when cloning your repository.</p>
        <pre>{{ repo.owner.git_password }}</pre>
        <p>You can change it at any time</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
