{% load url from future %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#competitionCollapse">
      <h4 class="panel-title">
        Competition <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="competitionCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include "competition/competition/_sidebar.html" %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#codeCollapse">
      <h4 class="panel-title">
        Code <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="codeCollapse" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "codemanagement/_sidebar.html" %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#repoCollapse">
      <h4 class="panel-title">
        Repository <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="repoCollapse" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="#cloneCommandModal" role="button" data-toggle="modal">
              <i class="fa fa-cloud-download"></i>
              View Clone Command
            </a>
          </li>
          <li>
            <a href="#passwordModal" role="button" data-toggle="modal">
              <i class="fa fa-eye"></i>
              View Team Password
            </a>
          </li>
          <li>
            <a href="/repo/ssh-fingerprint/">
              <i class="fa fa-lock"></i>
              Verify SSH Fingerprint
            </a>
          </li>
          <li>
            <a href="#helpModal" role="button" data-toggle="modal">
              <i class="fa fa-life-saver"></i>
              Help!
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#teamCollapse">
      <h4 class="panel-title">
        Team <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="teamCollapse" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "competition/team/_sidebar.html" %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="sidebar-collapse panel-heading" data-toggle="collapse" data-parent="#accordion" href="#registrationCollapse">
      <h4 class="panel-title">
        Registration <span class="fa fa-angle-down pull-right" id="collapseArrow"></span>
      </h4>
    </div>
    <div id="registrationCollapse" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "competition/registration/_sidebar.html" %}
      </div>
    </div>
  </div>
</div>
