{% load url from future %}

{% include "competition/competition/_sidebar.html" %}
{% include "codemanagement/_sidebar.html" %}

<h2 class="text-right">Repository</h2>
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#cloneCommandModal" role="button" data-toggle="modal">
      <i class="glyphicon glyphicon-share"></i>
      View Clone Command
    </a>
  </li>
  <li>
    <a href="#passwordModal" role="button" data-toggle="modal">
       <i class="glyphicon glyphicon-eye-open"></i>
       View Team Password
    </a>
  </li>
  <li>
    <a href="/repo/ssh-fingerprint/">
      <i class="glyphicon glyphicon-lock"></i>
      Verify SSH Fingerprint
    </a>
  </li>
  <li>
    <a href="#helpModal" role="button" data-toggle="modal">
      <i class="glyphicon glyphicon-question-sign"></i>
      Help!
    </a>
  </li>
</ul>
{% include "competition/team/_sidebar.html" %}
{% include "competition/registration/_sidebar.html" %}


<!-- This is where all the modals go! -->

{% include "greta/_clone_command_modal.html" %}
{% include "greta/_help_modal.html" %}
{% include "greta/_repository_password_modal.html" %}
