{% extends "base.html" %}
{% load url from future %}
{% load greta_tags %}
{% load code_tags %}

{% block page-header%}
  <div class="page-header">
    <h1> {{ repo.name|clean_repo_name }} <small>{{ ref|pretty_ref|truncatechars:15 }}</small> </h1>
  </div>
{% endblock %}

{% block sidebar %}
  <h2 class="text-right">Repository</h2>
  <ul class="nav nav-tabs nav-stacked">
    <li>
      <a id="clone-command" href="#"
         data-content="{{ repo.owner.git_clone_command|default:'Under construction...' }}">
        View Clone Command
      </a>
    </li>
    <li>
      <a id="view-password" href="#"
         data-content="{{ repo.owner.git_password }}">
        View Team Password
      </a>
    </li>
    <li>
      <a href="{% url 'update_repo_password' repo.owner.team.competition.slug %}">
        Change Team Password
      </a>
    </li>
  </ul>
  <h2 class="text-right">Team</h2>
  <ul class="nav nav-tabs nav-stacked">
    <li>
      <a href="{{ repo.owner.team.get_absolute_url }}">
        Back to team
      </a>
    </li>
  </ul>
{% endblock %}

{% block script %}
  <script>
    $(function(){
      $('#clone-command').popover({placement: 'left'});
      $('#view-password').popover({placement: 'left'});
    });
  </script>
{% endblock %}
