{% extends "base.html" %}
{% load url from future %}
{% load greta_tags %}
{% load code_tags %}

{% block page-header %}
  <div class="page-header">
    <h1>
      {{ repo.name|clean_repo_name }} <small>{{ ref|pretty_ref|truncatechars:15 }}</small>
      {% if repo.owner.competition %}
        <small class="text-right text-error">This is a shell repository</small>
      {% endif %}
    </h1>
  </div>
{% endblock %}

{% block sidebar %}
  {% with user_team=repo.owner.team competition=repo.owner.team.competition %}

    {% include "competition/competition/_sidebar.html" %}

    <h2 class="text-right">Code</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="{% url 'list_submissions' competition.slug %}">
          <i class="icon-tags"></i>
          Code Submissions
        </a>
      </li>
      <li class="disabled">
        <a href="#">
          <i class="icon-hdd"></i>
          My Team's Repository
        </a>
      </li>
      {% if repo.owner.team %}
        <li>
          <a href="{% url 'update_repo_password' repo.owner.team.competition.slug %}">
            <i class="icon-pencil"></i>
            Change Team Password
          </a>
        </li>
      {% else %}
        <li>
          <a href="#">
            <span class="label label-important">Yo</span> No one owns this repository.
          </a>
        </li>
      {% endif %}
    </ul>

    <h2 class="text-right">Repository</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="#cloneCommandModal" role="button" data-toggle="modal">
          <i class="icon-share"></i>
          View Clone Command
        </a>
      </li>
      <li>
        <a id="view-password" href="#"
           data-content="{{ repo.owner.git_password }}">
           <i class="icon-eye-open"></i>
           View Team Password
        </a>
      </li>
      <li>
        <a href="/repo/ssh-fingerprint/">
          <i class="icon-lock"></i>
          Verify SSH Fingerprint
        </a>
      </li>
      <li>
        <a href="#helpModal" role="button" data-toggle="modal">
          <i class="icon-question-sign"></i>
          Help!
        </a>
      </li>
    </ul>
    {% include "competition/team/_sidebar.html" %}
    {% include "competition/registration/_sidebar.html" %}
  {% endwith %}


  <!-- This is where all the modals go! -->

  <!-- Clone Command Modal -->
  <div id="cloneCommandModal" class="modal hide fade" tabindex="-1"
       role="dialog" aria-labelledby="cloneCommandLabel" aria-hidden="true">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h3 id="cloneCommandLabel">Clone Command</h3>
       </div>
       <div class="modal-body">
         <p>Use this command to clone your repository</p>
         <pre>{{ repo.owner.git_clone_command|default:'Under construction...' }}</pre>
         <p>If you need assistance, check out <a href="http://git-scm.com/book">Pro Git</a>.</p>
       </div>
       <div class="modal-footer">
         <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
       </div>
  </div>

  <div id="helpModal" class="modal hide fade" tabindex="-1"
       role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h3 id="helpModalLabel">Help!</h3>
       </div>
       <div class="modal-body">

         <h4>Installing Git</h4>
         <span class="label label-important">Before you get too far...</span>
         <strong>You'll need to have git installed</strong>
         <p>
           GitHub has a lovely document that describes the process for
           installing git on different platforms. You can find
           it <a href="https://help.github.com/articles/set-up-git">here</a>
         </p>

         <h4>Ready to get started?</h4>
         <ol>
           <li>
             Click the <code>View Clone Command</code> button
           </li>
           <li>
             Copy the git clone command that pops up
           </li>
           <li>
             Paste the command into your favorite terminal
             emulator.
           </li>
           <li>
             When git prompts you for a password, type in your team's git
             password. Can't remember it? Just click the <code>View Team
             Password</code> button.
           </li>
           <li>That's it!</li>
         </ol>
         <p>
           You should now have a local copy of your client
           repository. Feel free to write some code!
         </p>

         <h4>What's my git password?</h4>
         <p>
           Since every team member needs a password to clone code, we've
           set up a group password to your repository. You can view your
           password by clicking <code>View Team Password</code> on your
           team's repository page. You can also change your team's git
           password at any time by clicking <code>Change Team
           Password</code>.
         </p>

         <h4>Pro Tips</h4>
         <p>
           Be sure to commit your code early and often. You can push your
           code to megaminerai.com at any time. Whenever you push or pull
           code, you will need to use your team's git password.
         </p>

         <h4>Questions?</h4>
         <p>
           If you have questions, we suggest taking a look
           at <a href="https://help.github.com/">GitHub's help pages</a>
           or
           <a href="http://git-scm.com/book">Pro Git</a>. You could even
           practice your git skills
           at <a href="http://try.github.com/levels/1/challenges/1">GitHub's
           tutorial</a>
         </p>
       </div>
       <div class="modal-footer">
         <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
       </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(function(){
    $('#clone-command').popover({placement: 'left'});
    $('#view-password').popover({placement: 'left'});
    });
  </script>
{% endblock %}
