{% extends "base.html" %}
{% load url from future %}
{% load greta_tags %}
{% load code_tags %}

{% block page-header %}
  <div class="page-header">
    <h1>
      {{ repo.name|clean_repo_name }} <small>{{ ref|pretty_ref|truncatechars:15 }}</small>
      {% if repo.owner.competition %}
        <small class="text-right text-error">This is a shell repository</small>
      {% endif %}
    </h1>
  </div>
{% endblock %}

{% block sidebar %}
  {% with user_team=repo.owner.team competition=repo.owner.team.competition %}
    {% if competition %}
      {% include "greta/_sidebar.html" %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block script %}
  <script>
    $(function(){
    $('#clone-command').popover({placement: 'left'});
    $('#view-password').popover({placement: 'left'});
    });
  </script>
{% endblock %}
