{% extends "greta/greta_base.html" %}
{% load url from future %}
{% load greta_tags %}

{% block content %}
  {% include "greta/_tabs.html" %}

  {% with competition=repo.owner.team.competition %}
    {% for commit, refs in log %}
      {% if forloop.first %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Commit
              </th>
              <th>
                Refs
              </th>
              <th>
                Committer
              </th>
              <th>
                Committed
              </th>
              <th>
                Message
              </th>
              <th>
                <!-- Submit to Arena -->
              </th>
            </tr>
          </thead>
          <tbody>
        {% endif %}

        <tr class="commit-row"
            {% if refs %}
              href="{% url 'commit_detail' pk=repo.pk ref=refs.0 %}"
            {% else %}
              href="{% url 'commit_detail' pk=repo.pk ref=commit.id %}"
            {% endif %}
            style="cursor: pointer;">
          <td>
              <a href="{% url 'commit_detail' pk=repo.pk ref=commit.id %}">
                {{ commit.id|truncatechars:10 }}
              </a>
          </td>
          <td>
            <div class="btn-group-vertical">
              {% for ref in refs %}
                <a href="{% url 'commit_detail' pk=repo.pk ref=ref %}"
                   class="btn btn-xs btn-{% if ref|is_tag %}danger{% else %}info{% endif%}">
                  {{ ref|pretty_ref }}
                </a>
              {% endfor %}
            </div>
          </td>
          <td>
            {{ commit.committer|committer }}
          </td>
          <td>
            <a href="#" class="time" data-toggle="tooltip"
               title="{{ commit.commit_time|to_datetime }}">
              {{ commit.commit_time|to_datetime|timesince }} ago
            </a>
          </td>
          <td>
            {{ commit.message|truncatechars:50 }}
          </td>
          <td>
            {% if competition %}
              <a href="{% url 'submit' competition.slug commit.id %}"
                 class="btn btn-default btn-xs">
                Submit
              </a>
            {% endif %}
          </td>
        </tr>

        {% if forloop.last %}
          </tbody>
        </table>
      {% endif %}
    {% empty %}
      <h2>No commits, yet.</h2>
    {% endfor %}
  {% endwith %}

  {% include "greta/_paginator.html" with page=log %}

{% endblock %}

{% block script %}
<script>
  $(".time").tooltip();
  $(".commit-row").each(function(i, e){
    var next = $(this).attr("href");
    $(this).click(function(){
      document.location.href = next;
    });
  });
</script>
{% endblock %}
