{% extends "plain.html" %}
{% load url from future %}

{% block page-header%}
  <div class="page-header">
    <h1>Creating repository
  </div>
{% endblock %}

{% block content %}
  <p class="text-center lead">
    Creating your repository <i class="fa fa-cog fa-spin"></i>
  </p>
{% endblock %}

{% block script %}
  <script>
    // Called on success
    function onSuccess(data){
      if(data.match(/Creating repository/g)){
        console.log("Not ready yet");
      } else {
        console.log("Ready!");
        document.location.href = document.URL;
      }
    }

    // A function to poll the server every 2 seconds (2000 ms)
    function poll(){
      $.ajax({ url: document.URL,
               success: onSuccess,
               complete: function(){ setTimeout(poll, 2000); },
               timeout: 30000 });
    }

    $(function() {
      poll()
    });
  </script>
{% endblock %}
